.container {
    font-family: Arial, sans-serif;
    background-image: url('./background.jpg');
    background-size: cover; 
    background-position: center; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2em;
    line-height: 40px;
    padding-bottom: 30px;
    color: #f74933;
    background-clip: border-box;
    background-image: linear-gradient( 109.6deg, rgb(241, 29, 29) 11.2%, rgb(248, 141, 41) 91.2% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 550px;
}

label {
    display: block;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    width: 100%;
    height: 60px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: inline-block;
    background-clip: border-box;
    background-image: linear-gradient( 109.6deg, rgb(241, 29, 29) 11.2%, rgb(248, 141, 41) 91.2% );
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 300px;
    cursor: pointer;
    height: 60px;
    border-radius: 15px;
    margin: 5% 20%
}

 

button:hover {
    background-clip: border-box;
    background-image: linear-gradient( 109.6deg, rgb(248, 141, 41) 11.2%, rgb(241, 29, 29) 91.2% );
}